<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="/">Inicio</a>
	  
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/equipos/listar">Equipos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jugadores/listar">Jugadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/torneos/listar">Torneos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ciudadTor/listar">Ciudad Torneos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ciudadDep/listar">Ciudad Departamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/federacion/listar">Federacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/departamento/listar">Departamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/empleado/listar">Empleados</a>
      </li>
      
    </ul>
  </div>
</nav>
	<div class="container mt-4">
	<h1>Departamentos</h1>
		<table class="table">
			<thead>
				<tr>
					<th>NOMBRE DEPARTAMENTO</th>
					<th>DESCRIPCION DEPARTAMENTO</th>
					<th>FEDERACION</th>
					<th>CIUDAD</th>
					<th>CANTIDAD EMPLEADOS</th>
				</tr>
				<tbody>
					<tr th:each="departamento:${departamentos}">
						<td th:text="${departamento.nombreDepartamento}"></td>
						<td th:text="${departamento.descripcion}"></td>
						<td th:text="${departamento?.federacion?.getCIF()}"></td>
						<td th:text="${departamento?.ciudad?.getNombreCiudad()}"></td>
						<td th:text="${departamento.empleados.size()}"></td>
						<td>
							
							<a class="btn btn-outline-primary" th:href="@{/departamento/showFormForUpdate/{id}(id=${departamento.codigoDepartamento})}" >Editar</a>
							<a class="btn btn-outline-danger" th:href="@{'/departamento/delete/' + ${departamento.codigoDepartamento}}">Eliminar</a>
						</td>
				</tbody>
			</thead>
		</table>
	</div>
	<div class="container mt-4">
	<form th:object="${departamento}" th:action="@{/departamento/agregar}" method="post">
    <div class="form-group">
        <label for="nombreDepartamento">Nombre del Departamento</label>
        <input th:field="*{nombreDepartamento}" id="nombreDepartamento" placeholder="Escribe el nombre del departamento" type="text"
               class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Descripcion">Descripcion Departamento</label>
        <input th:field="*{Descripcion}" id="Descripcion" placeholder="Escribe la descripcion del departamento" type="text"
               class="form-control" required>
    </div>
    <div class="form-group">
        <label for="federacion">Federacion</label>
        <select th:field="*{federacion}" class="form-control">
        	<th:block th:each="fed : ${federacion}">
        		<option th:text="${fed.CIF}" th:value="${fed.idFederacion}">
        	</th:block>
        </select>
    </div>
    <div class="form-group">
        <label for="ciudades">Ciudad</label>
        <select th:field="*{ciudad}" class="form-control">
        	<th:block th:each="ciudad : ${ciudades}">
        		<option th:text="${ciudad.nombreCiudad}" th:value="${ciudad.codigoCiudad}">
        	</th:block>
        </select>
    </div>
    <br>
    <button class="btn btn-success" type="submit">Guardar</button> 
	</form>
	</div>
</body>
</html>