<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Edicion Ciudad Torneo</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Editar Ciudad Torneo</h1>
        <hr>

        <div class="container mt-3">
	<form th:object="${ciudadTorneo}" th:action="@{/ciudadTor/agregar}" method="post">
	    <div class="form-group">
	    <!-- Add hidden form field to handle update -->
	        <input type="hidden" th:field="*{codigoCiudad}"  />
	        
	        <input th:field="*{nombreCiudad}" id="nombreCiudad" type="text"
	               class="form-control"  required>
	    </div>
	    <br>
	  
	    <button class="btn btn-success" type="submit">Editar Ciudad</button>
	</form>
</div>

        <hr>

        <a th:href="@{/ciudadTor/listar}">Lista de Ciudades de Torneos</a>
    </div>
</body>

</html>