<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Edicion Ciudades Departamentos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Editar Ciudad</h1>
        <hr>

       <form th:action="@{/ciudadDep/agregar}"  th:object="${ciudad}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{codigoCiudad}" />

            <input type="text" th:field="*{nombreCiudad}" class="form-control mb-4 col-4" required>

        <br>

            <button type="submit" class="btn btn-info col-2"> Editar Ciudad</button>
        </form>

        <hr>

        <a th:href="@{/ciudadDep/listar}">Lista de Ciudades Departamentos</a>
    </div>
</body>

</html>