<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Empleados</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="/">Inicio</a>
	  
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/equipos/listar">Equipos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jugadores/listar">Jugadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/torneos/listar">Torneos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ciudadTor/listar">Ciudad Torneos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ciudadDep/listar">Ciudad Departamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/federacion/listar">Federacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/departamento/listar">Departamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/empleado/listar">Empleados</a>
      </li>
      
    </ul>
  </div>
</nav>
	<div class="container mt-4">
	<h1>Empleados</h1>
		<table class="table">
			<thead>
				<tr>
					<th>NOMBRE EMPLEADO</th>
					<th>DIRECCION EMPLEADO</th>
					<th>TELEFONO</th>
					<th>DEPARTAMENTO</th>
				</tr>
				<tbody>
					<tr th:each="empleado:${empleados}">
						<td th:text="${empleado.nombre}"></td>
						<td th:text="${empleado.direccion}"></td>
						<td th:text="${empleado.telefono}"></td>
						<td th:text="${empleado?.departamento?.getNombreDepartamento()}"></td>
						<td>
							
							<a class="btn btn-outline-primary" th:href="@{/empleado/showFormForUpdate/{id}(id=${empleado.idEmpleado})}" >Editar</a>
							<a class="btn btn-outline-danger" th:href="@{'/empleado/delete/' + ${empleado.idEmpleado}}">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</thead>
		</table>
	</div>
	<div class="container mt-4">
	<form th:object="${empleado}" th:action="@{/empleado/agregar}" method="post">
    <div class="form-group">
        <label for="nombre">Nombre del empleado</label>
        <input th:field="*{nombre}" id="nombre" placeholder="Escribe el nombre del empleado" type="text"
               class="form-control" required>
    </div>
    <div class="form-group">
        <label for="direccion">Direccion del empleado</label>
        <input th:field="*{direccion}" id="direccion" placeholder="Escribe la direccion del empleado" type="text"
               class="form-control" required>
    </div>
    <div class="form-group">
        <label for="telefono">Telefono del empleado</label>
        <input th:field="*{telefono}" id="telefono" placeholder="Telefono del empleado" type="number"
               class="form-control" required>
    </div>
    <div class="form-group">
        <label for="departamento">Departamento</label>
        <select th:field="*{departamento}" class="form-control">
        	<th:block th:each="dep : ${departamentos}">
        		<option th:text="${dep.nombreDepartamento}" th:value="${dep.codigoDepartamento}">
        	</th:block>
        </select>
    </div>
    <br>
    <button class="btn btn-success" type="submit">Guardar</button> 
	</form>
	</div>
</body>
</html>