<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="/">Inicio</a>
	  
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/equipos/listar">Equipos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jugadores/listar">Jugadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/torneos/listar">Torneos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ciudadTor/listar">Ciudad Torneos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ciudadDep/listar">Ciudad Departamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/federacion/listar">Federacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/departamento/listar">Departamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/empleado/listar">Empleados</a>
      </li>
      
    </ul>
  </div>
</nav>

      <div class="container starter-template mt-4">
        <h1>Base de Datos Ejercicio 5</h1>
        <p class="lead">Base de Datos utilzando SpringBoot creada por Manuel Garcia Arozamena y Stefan Moraru</p>
      </div>

</body>
</html>